<!DOCTYPE html>
<html>
  <head>
    <title>RailsDynamicSelect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to "Home", page_home_url %> | 
      <%= link_to "Events", events_url %> | 
      <%= link_to "Announcements", announcements_url %>
    </div>
    <%= yield %>
  </body>
</html>
